<div class="ui container" align="center" style="padding-top: 20px">
  <div class="big ui orange animated fade button" tabindex="0" name="clickon">
    <div class="visible content">Post a job</div>
      <div class="hidden content" >
        <%= link_to "Click in", new_job_path %>
      </div>
  </div>
</div>
<div class="ui container" style="padding-top:20px">
<%= form_with url: 'users#create', :html => {:class => "ui form"} do |form| %>
  <div class="inline fields">
     <div class="five wide field">
      <label>Category</label>
      <input type="hidden" name="category_id">
      <div class="default text" name="category_id"></div>
          <div class="menu">
             <%= form.collection_select :category_id, Category.all, :id, :name %>
          </div>
      </div>
      <div class="eight wide field">
        <label>sent to: </label>
      <%= form.text_field :email %>
      </div>
      <label>every day! </label>
      <%= form.submit :Subscribe%>
  </div>
</div>
<div class="ui horizontal divider" style="padding-top: 20px">
  <i class="tag icon"></i>
<% end %>
</div>

<% if @job.empty? %>
<div class="ui nov container"  style="padding-top: 40px">
  <div class="ui orange message">
    <i class="close icon"></i>
      <div class="header">
          There aren’t any jobs that match your search.
      </div> </br>
    <ul class="list">
      <li>Be less specific. Example: "Data" instead of “Data entry”</li>
      <li>Check your spelling. Even the best spellers make mistakes.</li>
    </ul>
  </div>
</div>
<% else %>
    <% @category.each do |kategori|  %>
          <% @company.each do |komp| %>
            <% @job.each do |cat| %>
                <% if komp.job_id==cat.id %>
                    <% if cat.category_id==kategori.id %>
                      <div class="ui form segment" style="padding-top: 20px" >
                        <div class="ui large feed" style=" height:50px" >
                          <div class="event" style="padding-left:20px">
                             <div class="image" style="padding-bottom: 20px">
                              <%= image_tag(komp.image, size: "45") %>
                              </div>
                              <div class="content" style="padding-left:30px">
                                <div class=" summary">
                                    <%= komp.name %>
                                    <%= link_to cat.title, job_path(cat.id) %>
                                    <div class="date">
                                      <%= days=(Date.current-cat.created_at.to_date).to_i %> days ago
                                    </div>
                                </div>
                              <div class=" orange label">
                                <b> Category : <%= kategori.name %></b>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                <% end %>
            <% end %>
         <% end %>
      <% end %>
  <% end %>
<% end %>
