<div class="ui container" align="center" style="padding-top: 20px">
  <div class="big ui orange animated fade button" tabindex="0" >
    <div class="visible content">Post a job</div>
      <div class="hidden content" >
        <%= link_to "Click in", new_job_path %>
      </div>
  </div>
</div>
<% if @job.empty? %>
<div class="ui nov container"  style="padding-top: 40px">
  <div class="ui orange message">
    <i class="close icon"></i>
      <div class="header">
          There aren’t any jobs that match your search.
      </div> </br>
    <ul class="list">
      <li>Be less specific. Example: "Data" instead of “Data entry”</li>
      <li>Check your spelling. Even the best spellers make mistakes.</li>
    </ul>
  </div>
</div>
<% else %>

    <% @category.each do |kategori|  %>
          <% @company.each do |komp| %>
            <% @job.each do |cat| %>
                <% if komp.job_id==cat.id %>
                    <% if cat.category_id==kategori.id %>
                      <div class="ui form segment" style="padding-top: 20px">
                        <div class="ui feed" >
                          <div class="event">
                            <div class="label">
                            </div>
                              <div class="content">
                                <div class=" summary">
                                    <%= komp.name %>
                                    <%= link_to cat.title, job_path(cat.id) %>
                                    <div class="date">
                                      <%= days=(Date.current-cat.created_at.to_date).to_i %> days ago
                                    </div>
                                </div>
                              <div class=" orange label">
                                <b> Category : <%= kategori.name %></b>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
              <% end %>
            <% end %>
        <% end %>
    <% end %>
  <% end %>
<% end %>
