<% if @job.errors.any? & @company.errors.any? %>
  <div class="ui form error">
    <div class="ui error message">
      The form contains <%= pluralize(@job.errors.count + @company.errors.count, "error") %>.
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        <% @company.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<div class="container" align="center">
<%= form_with url: jobs_path, :html => {:class => "ui form"} do |form| %>
  <h4 class="ui dividing header">Basic Information</h4>
    <div class=" five wide field" >
      <label>Title</label>
        <div class=" field">
          <%= form.text_field :title, class:"item" %>
        </div>
    </div>
    <div class="five wide field" >
      <label>Category</label>
      <input type="hidden" name="category_id">
      <div class="default text" name="category_id"></div>
        <div class="menu">
          <%= form.collection_select :category_id, Category.all, :id, :name %>
        </div>
    </div>
    <div class="five wide field">
      <label>Job type</label>
      <select class="ui fluid dropdown" name="jobtype" placeholder="Select type">
        <option >Full time</option>
        <option  >Contract</option>
      </select>
    </div>
  <h4 class="ui dividing header">Location Information</h4>
    <div class="five wide field">
      <label>Headquarter</label>
        <%= form.text_field :headquarter %>
    </div>
    <div class="five wide field">
      <label>Region</label>
      <div class="ui selection dropdown">
        <input type="hidden" name="region">
          <div class="default text">Select region</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="hnk">
                HNK
              </div>
              <div class="item" data-value="zhk">
                ZHK
              </div>
              <div class="item" data-value="ks">
                KS
              </div>
              <div class="item" data-value="usk">
                USK
              </div>
              <div class="item" data-value="pk">
                PK
              </div>
              <div class="item" data-value="zdk">
                ZDK
              </div>
              <div class="item" data-value="bpk">
                BPK
              </div>
              <div class="item" data-value="tk">
                TK
              </div>
              <div class="item" data-value="sbk">
                SBK
              </div>
            </div>
      </div>
    </div>
   <h4 class="ui dividing header">Apply link</h4>
   <div class="ten wide field" >
     <div class="ui labeled input">
       <div class="ui label" >
          http://
       </div>
        <%= form.text_field :applylink %>
      </div>
   </div>
  <h4 class="ui dividing header">Description</h4>
  </br></br></br></br>
  <input id="y"  type="hidden" name="description">
  <trix-editor input="y"></trix-editor>
  <h4 class="ui dividing header">Company Information</h4>
  <div class=" ten wide field" >
     <label>Name</label>
     <div class=" field">
       <%= form.text_field :name %>
    </div>
  </div>
  <div class=" ten wide field" >
    <label>Company statement</label>
    <div class=" field">
       <%= form.text_field :company_statement %>
    </div>
  </div>
   <h4 class="ui dividing header">Website</h4>
   <div class="five wide field" >
     <div class="ui labeled input">
       <div class="ui label" >
         http://
       </div>
       <%= form.text_field :url %>
    </div>
   </div>
    <div class=" five wide field" >
      <label>Email</label>
        <div class=" field">
          <%= form.text_field :email, id: :email, class: :email %>
        </div>
    </div>
    <h4 class="ui dividing header">Details about company</h4>
    </br></br></br></br>
    <input id="x" type="hidden" name="company_description">
    <trix-editor input="x"></trix-editor>
    <h4 class="ui dividing header">Logo</h4>
    <div class="five wide field" >
      <%= form.file_field :image %>
    </div>
      <%= form.submit :Save%>
    </div>
  <% end %>
