<% @category.each do |cat| %>
  <% @company.each do |komp| %>
    <% if komp.job_id==@job.id %>
      <% if cat.id==@job.category_id %>
        <div class="ui container" align="center" style="padding-top: 20px">
          <div class="big ui grey animated fade button" tabindex="0" name="clickon">
            <div class="visible content">Apply</div>
              <div class="hidden content" >
                  <%= link_to "Apply now", @job.applylink, target: :_blank %>
              </div>
            </div>
          </div>
          <div class="ui items" style="padding-top:20px">
            <div class="item">
              <a class="ui small image">
                <%= image_tag(komp.image, size: "50") %>
              </a>
              <div class="content">
                <button class="ui right floated active button">
                  <i class="user icon"></i>
                    <%= link_to "Apply link", @job.applylink, class: "item",target: :_blank %>
                </button>
                <button class="ui right floated active button">
                  <i class="eye icon"></i>
                    <%= link_to "Company site", komp.url, class: "item",target: :_blank  %>
                </button>
                <a class="header">   <%= @job.title %></a></br>
                  <div class="description"></br>
                    <p><label><b>Region: </b></label>
                     <%= @job.region %> </p>
                    <p>  <label><b>Headquarter: </b></label>
                      <%= @job.headquarter %></p>
                      <p>  <label><b>Email: </b></label>
                        <%= komp.email %></p>
                        <div class="date"><b>Posted: </b>
                          <%= cat.created_at.to_date %>
                        </div>
                  </div>
                  <div class="ui right floated">
                        <%=   link_to "View all "+cat.name+ " jobs", root_path(:kategorije => cat.id), class: "item",target: :_blank %>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui section divider"></div>
            <div class="ui items">
              <div class="item">
                <div class="content">
                  <a class="header">   About role </a></br>
                  <div class="description">

                      <trix-content>
                        <%= @job.description.html_safe %>
                      </trix-content>
                  </div>
                </div>
              </div>
            </div>
            <div class="ui section divider"></div>
              <div class="ui items">
                <div class="item">
                  <div class="content">
                    <a class="header">  <%= komp.name %><br> </a></br>
                      <p><%= komp.company_statement %></p>
                      <div class="trix-content">
                      <%= komp.company_description.html_safe %>
                      </div>
                  </div>
            </div>
        </div>
     <% end %>
    <% end %>
  <% end %>
<% end %>
